@import "tailwindcss";

@font-face {
  font-family: "Statewide";
  src: url("/fonts/statewide/statewide-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --color-primary: #045071;
  --color-secondary: #fbbf24;

  --font-lato: "Lato", sans-serif;
  --font-audiowide: "Audiowide", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
  --font-statewide: "Statewide", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.menu-blur {
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
